.form {
  display: grid;
  grid-template: 'number number' '... login'/1fr auto;
  gap: 0.7em;
  width: min(50%, 30ch);
  input[type='submit'],
  input[name='phone'] {
    border-radius: 0.3em;
  }
  input[name='phone'] {
    grid-area: number;
    background-color: var(--tertiary);
    color: var(--primary-text);
    padding: 0.3em;
  }
  input[type='submit'] {
    grid-area: login;
    padding: 0.5em 1em;
    background-color: var(--primary);
    color: var(--primary-text-inv);
  }
}
