.transact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  /** Back button */
  a {
    width: 100%;
    text-decoration-line: none;
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    &::after {
      content: 'â†';
      font-size: xx-large;
    }
  }
  input,
  .amount {
    border-radius: 0.3em;
  }
  input[type='submit'] {
    padding: 0.5em 1em;
    background-color: var(--primary);
    color: var(--primary-text-inv);
  }
  form {
    display: grid;
    grid-template: 'amount' auto 'strategy' auto 'amount-split' 1fr 'submit' auto / auto;
    height: 100%;
    flex-grow: 1;
    justify-items: center;
    gap: 1em;
    input,
    select,
    .amount {
      font-size: 1.5rem;
      padding: 0.2em 1em;
      background-color: var(--tertiary);
    }
    & > input {
      grid-area: amount;
      width: min(20ch, 90%);
    }
    select {
      grid-area: strategy;
      background-color: transparent;
      font-weight: bolder;
      border: none;
    }
    .amountSplit {
      grid-area: amount-split;
      display: flex;
      flex-direction: column;
      gap: 1em;
      & > div {
        display: flex;
        gap: 1em;
        align-items: center;
        .amount {
          background-color: var(--success);
        }
      }
    }
    input[type='submit'] {
      grid-area: submit;
    }
  }
}
